* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

.w {
    width: 1200px;
    margin: 0 auto;
    /* background-color: yellow; */
}


.fatherbox {
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    height: 900px;
    /* padding-top: 10px; */
}

.shortcut {
    float: left;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 70px;
    margin-top: 10px;
}

.fl {
    float: left;
    margin-left: 100px;
}

.fr {
    float: right;
    margin-right: 100px;
}

.button {
    height: 40px;
    width: 100px;
    line-height: 40px;
    margin-left: 60px;
}

.topbox {
    width: 1200px;
    margin: 0 auto;
    background: url(../../../public/img/team.webp);
    background-size: 100% 150%;
    height: 320px;
    font-size: 40px;
    color: whitesmoke;
}

h3 {
    color: white !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.paperbox {
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    width: 850px;
    margin: 0 auto;
}

.paper {
    width: 260px;
    height: 375px;
    margin: 10px;
    text-align: center;
}


h4 {
    font-size: 24px;
}


.footer {
    height: 400px;
    background-color: pink;
    padding-top: 60px;
}

.service {
    height: 270px;
    border-bottom: 1px solid #ccc;
    padding: 0 200px;

}

.service dl dt {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.service dl {
    box-sizing: border-box;
    float: left;
    font-size: 16px;
    width: 200px;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    padding: auto;
}

.copyright span {
    padding: 10px;
}